@model SetoresModel
@{
    <title>@ViewData["Title"] </title>
}

<form asp-controller="Setores" asp-action="Cadastrar" method="post" class="form-example">
    <div class="form-example">
        <label for="nome">Nome:</label>
        <input asp-for="Nome" maxlength="100" required />
    </div>
    <div class="form-example">
        <label for="descricao">Descrição:</label>
        <input asp-for="Descricao" maxlength="150" required />
    </div>
    <div class="form-example">
        <label for="ResponsavelSetor">Responsável:</label>
        <input asp-for="ResponsavelSetor" maxlength="100" required />
    </div>
    <div class="form-example">
        <label for="EmailResponsavelSetor">E-mail Responsável:</label>
        <input asp-for="EmailResponsavelSetor" maxlength="100" required />
    </div>
    <div class="form-example">
        <label for="sexoResponsavel">Sexo do Responsável</label>
        <select asp-for="SexoResponsavel">
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
        </select>
    </div>
    <div class="form-example">
        <label for="localizacao">Localização:</label>
        <input asp-for="Localizacao" required />
    </div>
    <div class="form-example">
        <label for="categoria">Categoria do Setor</label>
        <select asp-for="CategoriaId">
            <option value="1">Financeiro</option>
            <option value="2">Tecnologia da Informação (TI)</option>
            <option value="3">Marketing</option>
        </select>
    </div>
    <div class="form-example">
        <label for="ImagemSetor">URL da Imagem:</label>
        <input asp-for="ImagemSetor" type="url" placeholder="https://exemplo.com/imagem.jpg" />
    </div>
    <button type="submit">Cadastrar Setor</button>
</form>