@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Mensagens de alerta -->
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert success" role="alert">
        <span class="closebtn">&times;</span>
        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert danger" role="alert">
        <span class="closebtn">&times;</span>
        <strong>Atenção!</strong> @TempData["MensagemErro"]
    </div>
}